<body>
    <div id="sudokuGrid">
        <div id="grid">
            <form>
                <input md-button type="reset" value="Reset Sudoku" (click)="resetSudoku()">
                <table>
                    <tr *ngFor="let row of sudokuService.initialGrid; let i = index">
                        <td *ngFor="let element of row; let j = index">
                            <div *ngIf="element==0">
                                <input class="inputField" #inputField size="1" maxlength="1" (keydown)="putEntry({keyEvent:$event, inputField:inputField, row:i, column:j})" (focus)="formatSelectedTableCell(inputField)" (focusout)="unformatSelectedTableCell(inputField)">
                            </div>
                            <div *ngIf="element!=0">
                                {{element}}
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <!-- TODO : Place div below in InformationPanelComponent -->
        <div id="infoPanel">
            <p><b>Pierre To</b></p>
            <p>Le sudoku est valide : {{sudokuService.isValid}} </p>
            <p>Niveau de difficulté : {{sudokuService.difficulty}} </p>
            <p *ngIf="stopwatchService.isVisible()">Timer : <span>{{stopwatchService.getMinutes()}}</span> min <span>{{stopwatchService.getSeconds()}}</span> sec</p>
        </div>

        <div>
            <h3 *ngIf="sudokuService.isValid==='true'">Félicitations! Vous avez réussi!</h3>
        </div>
    </div>
</body>
