<body>
    <div id="sudokuGrid">
        <div id="grid">
            <form>
                <input type="reset" value="Reset Sudoku" (click)="resetSudoku()">
                <table>
                    <tr *ngFor="let row of initialGrid; let i = index">
                        <td *ngFor="let element of row; let j = index">
                            <div *ngIf="element==0">   
                                <input #inputField size="1" maxlength="1" (keydown)="putEntry($event, i, j, inputField)">
                            </div>
                            <div *ngIf="element!=0">
                                {{element}}
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <!-- TODO : Place div below in InformationPanelComponent -->
        <div id="infoPanel">
            <p><b>Pierre To</b></p>
            <p>Le sudoku est valide : {{isValid}} </p>
            <p>Niveau de difficulté : {{difficulty}} </p>
            <p *ngIf="stopwatchService.isVisible()">Timer : <span>{{stopwatchService.getMinutes()}}</span> min <span>{{stopwatchService.getSeconds()}}</span> sec</p>
        </div>

    </div>
</body>