# Exclusion des dépendances et des logs en cas de npm start ou install à la mauvaise place...
node_modules/
false/
npm-debug.log
# Exclusion des fichiers de développement du refactor de Curling sur master
CurlingRF/
