<div class="container-fluid">
    <div class="row" id="header">
        <h1>Scrabble</h1>
    </div>


    <div class="row">

        <div class="col-md-7 panel" id="gamePanel">
            <div class="row">
                <board-comp></board-comp>
            </div>
            <div class="row">
                <rack-comp></rack-comp>
            </div>
        </div>
        <div class="col-md-5 panel" id="sidePanel">
            <div id="infoPanel">
                <p>
                  This is an info panel lol
                </p>
            </div>
            <div>
                <chat-comp></chat-comp>
            </div>
        </div>
    </div>


</div>
