<div id="header">
    <h1>Scrabble</h1>
</div>

<div class="flex-container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start">

    <div class="flex-item" fxFlex="50%" fxFlex.sm="50%" id="gamePanel">
        <div class="flex-container" fxLayout="column" fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start">
        
            <div class="flex-item" fxFlex="80%" fxFlex.sm="80%">
                <board-comp></board-comp>
            </div>

            <div class="flex-item" fxFlex="20%" fxFlex.sm="20%">
                <rack-comp></rack-comp>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="50%" fxFlex.sm="50%" id="sidePanel">
        <div class="flex-container" fxLayout="column" fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start">
        
            <div class="flex-item" fxFlex="40%" fxFlex.sm="40%">
                <info-comp></info-comp>
            </div>

            <div class="flex-item" fxFlex="60%" fxFlex.sm="60%">
                <chat-comp></chat-comp>
            </div>

        </div>
    </div>

</div>

<!--<div class="container-fluid">
    <div class="row" id="header">
        <h1>Scrabble</h1>
    </div>


    <div class="row">

        <div class="col-md-7 panel" id="gamePanel">
            <div class="row">
                <board-comp></board-comp>
            </div>
            <div class="row">
                <rack-comp></rack-comp>
            </div>
        </div>
        <div class="col-md-5 panel" id="sidePanel">
            <div id="infoPanel">
                <p>
                  This is an info panel lol
                </p>
            </div>
            <div>
                <chat-comp></chat-comp>
            </div>
        </div>
    </div>


</div>-->
