
<div id="board" class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" flexFill>
    <div class="flex-item" fxFlex="auto" *ngFor="let row of board; let i = index">
        <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" flexFill>
            <div class="flex-item" fxFlex="auto" *ngFor="let tile of row; let j = index">
                <img src= {{tile.texture}} height= 100% width= 100% id="scrabbleTile">
            </div>
        </div>
    </div>
</div>
