<div class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" fxFlexFill>

    <div class="flex-item pre-scrollable" fxFlex="89.5%" fxFlex.xs="89.5%" fxFlexFill fxFlexWrap="wrap">
        <div [hidden]="attemptingToConnect">
            <div class="flex-container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start" fxLayoutAlign.xs="start" fxFlexFill>

                <md-list dense id="chatList">
                    <md-list-item md-multi-line md-list-item-text *ngFor="let msg of msgList; let i = index">
                        <h3 md-line><strong>{{msg.username}}</strong></h3>
                        <p md-line>{{msg.submessage}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div [hidden]="!attemptingToConnect">
            <div class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" fxFlexFill>


                    <p class="ConnectText">SERVER OFFLINE</p>
                    <md-spinner></md-spinner>
                    <p class="ConnectText">Attempting to connect...</p>

            </div>
        </div>


    </div>

    <div class="flex-item" fxFlex="10.5%" fxFlex.xs="10.5%" fxFlexFill>
        <form #messageForm="ngForm">
            <div class="message-box">

                <div class="flex-container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" fxFlexFill>

                    <div class="flex-item" fxFlex="90%" fxFlex.xs="90%" fxLayoutAlign="center center" fxFlexFill>
                        <md-input-container>
                            <input md-input placeholder="Écrivez un message ou une commande..." type="text" autocomplete="off" class="form-control" id="message" [(ngModel)]="msg.message" name="message">
                        </md-input-container>
                    </div>

                    <div class="flex-item" fxFlex="10%" fxFlex.xs="10%" fxLayoutAlign="center center" fxFlexFill (window:resize)="onResize($event)">
                        <div [hidden]="openWindow.innerWidth < 1280">
                            <button md-fab type="submit" class="btn btn-default" (click)="onSubmit(); messageForm.reset()">
                          <i class="material-icons">send</i>
                        </button>
                        </div>
                        <div [hidden]="openWindow.innerWidth >= 1280">
                            <button md-mini-fab type="submit" class="btn btn-default" (click)="onSubmit(); messageForm.reset()">
                          <i class="material-icons">send</i>
                        </button>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>

</div>

<!--<div id="messagePanel">
    <div class="pre-scrollable" id="messageList">
        <md-list>
            <md-list-item *ngFor="let msg of msgList; let i = index">
                <span>
                    <strong>{{msg.username}} : </strong>{{msg.submessage}}
                </span>
            </md-list-item>
        </md-list>
        <table>
            <tr *ngFor="let msg of msgList; let i = index">
                <td>
                    <strong>{{msg.username}} : </strong>{{msg.submessage}}
                </td>
            </tr>
        </table>

    </div>

    <form #messageForm="ngForm">
        <div class="message-box">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" autocomplete="off" class="form-control" id="message" [(ngModel)]="msg.message" name="message">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default" (click)="onSubmit(); messageForm.reset()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>-->
