<div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="left left" fxLayoutAlign.xs="center center">
    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <p><b> Bienvenue {{this.thisPlayer}} ! </b></p>
    </div>

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <p><b>Joueur actif : </b> {{this.activePlayerName}}</p>
            </div>

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <p><b>Temps restant : </b> {{this.minutes}}:{{this.seconds}}</p>
            </div>

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <p><b>Lettres restantes : </b> {{this.nLettersStash}}</p>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="60%" fxFlex.xs="60%">
        <div class="flex-container" fxLayout="row" fxLayout.xs="row" fxFlex="25%">
            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <b>Nom</b>
            </div>
            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <b>Score</b>
            </div>
            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                <b>Nombre de lettres sur chevalet</b>
            </div>
        </div>
        
        <div class="flex-container" *ngFor="let player of players; let i = index" fxLayout="row" fxLayout.xs="row" fxFlex="25%">
            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                {{player.name}}
            </div>
            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                {{player.score}}
            </div>
            <div *ngIf="player.nRackLetters < 7" class="flex-item" fxFlex="33%" fxFlex.xs="33%" fxLayoutAlign="center center">
                {{player.nRackLetters}}
            </div>

        </div>

    </div>

    <hr>

</div>