<md-card class="info-panel-card">
    <md-card-header>
        <md-card-title>
            <div *ngIf="gameOver">
                <h4> Le jeu a été remporté par {{this.winningPlayers}} ! </h4>
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <md-grid-list cols="3" rows="1" rowHeight="25px">
            <md-grid-tile>
                <p><b>Votre nom : </b> {{this.player.name}}</p>
            </md-grid-tile>

            <md-grid-tile>
                <p><b>Temps restant : </b> {{this.time}}</p>
            </md-grid-tile>

            <md-grid-tile>
                <p><b>Lettres restantes : </b> {{this.nLettersStash}}</p>
            </md-grid-tile>
        </md-grid-list>

        <md-progress-bar [ngClass]="{'mat-primary': this.getTimeProgress()>30, 'mat-accent':this.getTimeProgress()>10 && this.getTimeProgress()<=30 , 'mat-warn':this.getTimeProgress()<=10}"
            id="forceBar" [value]="this.getTimeProgress()" mode="determinate"></md-progress-bar>

        <md-grid-list cols="3" rows="1" rowHeight="25px">
            <md-grid-tile>
                <b>Nom</b>
            </md-grid-tile>

            <md-grid-tile>
                <b>Score</b>
            </md-grid-tile>

            <md-grid-tile>
                <b>Nombre de lettres sur chevalet</b>
            </md-grid-tile>
        </md-grid-list>
        <md-grid-list cols="3" rows="1" rowHeight="25px" *ngFor="let player of players">
            <md-grid-tile>
                <div [ngClass]="{'strikethrough' : player.hasQuitAfterGameEnd, 'bold' : player.name === this.activePlayerName}">
                    <p>{{player.name}}</p>
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div>
                    <p>{{player.score}}</p>
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div *ngIf="player.rackLettersCount < 7">
                    <p>{{player.rackLettersCount}}</p>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>