<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%">
                <p>RESERVE</p>
            </div>

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%">
                <p><b>Joueur Actif</b> </p>
                <p>{{this.activePlayerName}}</p>
            </div>

            <div class="flex-item" fxFlex="33%" fxFlex.xs="33%">
                <p><b>Temps Restant</b></p> 
                <p>{{this.minutes}} : {{this.seconds}}</p>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>JOUEUR 1</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nom</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Score</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nombre de lettre sur chevalet</p>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>JOUEUR 2</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nom</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Score</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nombre de lettre sur chevalet</p>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>JOUEUR 3</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nom</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Score</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nombre de lettre sur chevalet</p>
            </div>

        </div>
    </div>

    <div class="flex-item" fxFlex="20%" fxFlex.xs="20%">
        <div class="flex-container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">

            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>JOUEUR 4</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nom</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Score</p>
            </div>
            <div class="flex-item" fxFlex="25%" fxFlex.xs="25%">
                <p>Nombre de lettre sur chevalet</p>
            </div>

        </div>
    </div>

</div>