h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/***************************/
/* control panel component */
/***************************/

#gameArea {
  height: 375px;
  background-color: #fafafa;
  border: 2px solid black;
}

#buttonPanel {
  text-align: center;
  margin-top: 15px;
}

#sudokuGrid {
  width: 100%;
}

#grid {
  float: left;
  margin-left: 420px;
  background-color: white;
}

#infoPanel {
  float: right;
  width: 300px;
  margin-right: 315px;
}

/*************************/
/* sudoku grid component */
/*************************/

table {
  margin: 1em auto;
  border-collapse: collapse;
}

td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid ;
}

tr:first-child {
  border-top: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid ;
}

.inputField {
  padding: 0px;
  margin: 0px;
  color: seagreen;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  border-style: hidden;
  outline: 0px;
  width: 100%;
  height: 100%;
}

.inputSelected {
  background-color: lightskyblue;
}

/*************************************/
/* blinking effect for invalid input */
/*************************************/

@-webkit-keyframes invalid {
  from { background-color: #FF6666; }
  to { background-color: inherit; }
}

@-moz-keyframes invalid {
  from { background-color: #FF6666; }
  to { background-color: inherit; }
}

@-o-keyframes invalid {
  from { background-color: #FF6666; }
  to { background-color: inherit; }
}

@keyframes invalid {
  from { background-color: #FF6666; }
  to { background-color: inherit; }
}

.invalid {
  -webkit-animation: invalid 1s 3; /* Safari 4+ */
  -moz-animation:    invalid 1s 3; /* Fx 5+ */
  -o-animation:      invalid 1s 3; /* Opera 12+ */
  animation:         invalid 1s 3; /* IE 10+ */
}
