* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
md-sidenav-container {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: normal;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#wrapper {
    width: calc(100vw);
    height: calc(100vh);
}

#topBar {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 4px 16px black;
}

#navIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#lightIcon.material-icons.mat-icon {
    color: black;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#darkIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#closeIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#easyIcon.material-icons.mat-icon {
    margin-right: 32px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#hardIcon.material-icons.mat-icon {
    margin-right: 32px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#title {
    padding-left: 72px;
}

#topSpacer {
    flex: 1 1 auto;
}

.icon-button {
    cursor: pointer;
    background: transparent;
    border: none !important;
}

.icon-button:focus {
    outline: none;
}

#infoCard {
    width: 320px;
    text-align: justify;
    text-justify: inter-word;
}

.list-button {
    width: 320px;
    padding-left: 5%;
    padding-right: 5%;
}


/***************************/


/* control panel component */


/***************************/

#buttonPanel button {
    text-align: start;
}

#sudokuGrid {
    width: 100%;
}

#grid {
    margin-top: 5%;
    margin-bottom: 5%;
}

#infoPanel {
    width: 100%;
}


/*************************/


/* sudoku grid component */


/*************************/

table {
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    font-size: xx-large;
}

td:first-child {
    border-left: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:first-child {
    border-top: solid;
}

tr:nth-child(3n) td {
    border-bottom: solid;
}

.inputField {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    border-style: hidden;
    outline: 0px;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes inputSelected {
    from {
        background-color: inherit;
    }
    to {
        background-color: rgba(100, 100, 255, 0.6);
    }
}

@-moz-keyframes inputSelected {
    from {
        background-color: inherit;
    }
    to {
        background-color: inhrgba(100, 100, 255, 0.6)erit;
    }
}

@-o-keyframes inputSelected {
    from {
        background-color: inherit;
    }
    to {
        background-color: rgba(100, 100, 255, 0.6);
    }
}

@keyframes inputSelected {
    from {
        background-color: inherit;
    }
    to {
        background-color: rgba(100, 100, 255, 0.6);
    }
}

.inputSelected {
    -webkit-animation: inputSelected 0.5s 1;
    /* Safari 4+ */
    -moz-animation: inputSelected 0.5s 1;
    /* Fx 5+ */
    -o-animation: inputSelected 0.5s 1;
    /* Opera 12+ */
    animation: inputSelected 0.5s 1;
    /* IE 10+ */
    background-color: rgba(100, 100, 255, 0.6)
}

@-webkit-keyframes inputDeselected {
    from {
        background-color: rgba(100, 100, 255, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@-moz-keyframes inputDeselected {
    from {
        background-color: rgba(100, 100, 255, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@-o-keyframes inputDeselected {
    from {
        background-color: rgba(100, 100, 255, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@keyframes inputDeselected {
    from {
        background-color: rgba(100, 100, 255, 0.6);
    }
    to {
        background-color: inherit;
    }
}

.inputDeselected {
    -webkit-animation: inputDeselected 0.5s 1;
    /* Safari 4+ */
    -moz-animation: inputDeselected 0.5s 1;
    /* Fx 5+ */
    -o-animation: inputDeselected 0.5s 1;
    /* Opera 12+ */
    animation: inputDeselected 0.5s 1;
    /* IE 10+ */
    background-color: transparent
}


/*************************************/


/* blinking effect for invalid input */


/*************************************/

@-webkit-keyframes invalid {
    from {
        background-color: rgba(255, 0, 0, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@-moz-keyframes invalid {
    from {
        background-color: rgba(255, 0, 0, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@-o-keyframes invalid {
    from {
        background-color: rgba(255, 0, 0, 0.6);
    }
    to {
        background-color: inherit;
    }
}

@keyframes invalid {
    from {
        background-color: rgba(255, 0, 0, 0.6);
    }
    to {
        background-color: inherit;
    }
}

 /* Invalid class for inputField (blinking effect) */
.invalid {
    -webkit-animation: invalid 1s 3;
    /* Safari 4+ */
    -moz-animation: invalid 1s 3;
    /* Fx 5+ */
    -o-animation: invalid 1s 3;
    /* Opera 12+ */
    animation: invalid 1s 3;
    /* IE 10+ */
}