h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/***************************/
/* control panel component */
/***************************/

#gameArea {
  height: 375px;
  background-color: #fafafa;
  border: 2px solid black;
}

#buttonPanel {
  text-align: center;
  margin-top: 15px;
}

#sudokuGrid {
  width: 100%;
}

#grid {
  float: left;
  margin-left: 480px;
  background-color: white;
}

#infoPanel {
  float: right;
  width: 300px;
  margin-right: 315px;
}

/*************************/
/* sudoku grid component */
/*************************/

table {
  margin: 1em auto;
  border-collapse: collapse;
}

td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid ;
}

tr:first-child {
  border-top: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid ;
}
