/***************/
/* CURLING HUD */
/***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
md-sidenav-container {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: normal;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#wrapper {
    width: calc(100vw);
    height: calc(100vh);
}

#topBar {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 4px 16px black;
    position:fixed; 
    z-index:1; 
    top:0;
}

#navIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#lightIcon.material-icons.mat-icon {
    color: black;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#darkIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#closeIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#icon.material-icons.mat-icon {
    margin-right: 32px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#title {
    padding-left: 72px;
}

#topSpacer {
    flex: 1 1 auto;
}

.icon-button {
    cursor: pointer;
    background: transparent;
    border: none !important;
}

.icon-button:focus {
    outline: none;
}

#infoCard {
    width: 320px;
    text-align: justify;
    text-justify: inter-word;
}

.list-button {
    width: 320px;
    padding-left: 5%;
    padding-right: 5%;
}


/***************************/


/* control panel component */


/***************************/

#buttonPanel button {
    text-align: start;
}

#sudokuGrid {
    width: 100%;
}

#grid {
    margin-top: 5%;
    margin-bottom: 5%;
}

#infoPanel {
    width: 100%;
}

/*********************/
/* BUTTON FOR CAMERA */
/*********************/

#cameraButton {
    cursor: pointer;
    display: block;
    float: left;  
    z-index: 3;
    position: absolute;
    left: 200px;
    bottom: 5px;
}