/**************/
/* CURLING UI */
/**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
md-sidenav-container {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: normal;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#wrapper {
    width: calc(100vw);
    height: calc(100vh);
}

/*******************/
/* side navigation */
/*******************/

#buttonPanel button {
    text-align: start;
}

#infoCard {
    width: 350px;
    text-align: justify;
    text-justify: inter-word;
}

.list-button {
    width: 320px;
    padding-left: 5%;
    padding-right: 5%;
}

#sidenavIcon.material-icons.mat-icon {
    margin-right: 32px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

/***********/
/* top bar */
/***********/

#topBar {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 4px 16px black;
    position: fixed; 
    z-index: 1; 
    top: 0;
}

.icon-button {
    cursor: pointer;
    background: transparent;
    border: none !important;
}

.icon-button:focus {
    outline: none;
}

#navIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#title {
    padding-left: 77px;
    font-size: 40px;
}

#topSpacer {
    flex: 1 1 auto;
}

#lightBulbIcon.material-icons.mat-icon {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#closeIcon.material-icons.mat-icon {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

/*******/
/* HUD */
/*******/

#hudContainer {
    position: fixed;
    z-index: 1;
    bottom:3px;
}

.columnContainer {
    position: relative;
}

.column {
    border: 1px solid transparent;
    width: 100%;
    height: 90vh;  
}

.defaultCursor:hover {
    cursor: default;
}

.mdIcon.mat-icon {
    height: 100%;
    width: 2rem;
    font-size: 2rem;
}

button.mat-raised-button {
    padding: 0.2rem 0.5rem 0.2rem 0.4rem;
}

/* left column */

#playerNameTagContainer {
    position: absolute;
    left: 2%; 
    top: 2%;  
}

#playerNameTag.mat-card {
    padding: 10px;
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

#playerCurlingStones {
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#cameraButton {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

/* center column */

#scoreboardContainer {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 129.63px
}

#scoreboard.mat-card {
    padding: 10px;
    width: 100%;
    text-align: center;
    text-justify: inter-word;
}

#rounds {
    float: left;
    margin-left: 3%;
    margin-right: 3%  
}

#forceBarLabel {
    position: absolute;
    bottom: 18%;
    left: 2%;
}

#forceBar {
    position: absolute;
    bottom: 15%;
    left: 2%;
    height: 2%;
}

#playerThrowButton {
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#spinOrientationSwitch {
    position: absolute;
    bottom: 1%;
    color: black;
    left: 35%;
    right: 35%;
}

.mdSlideIcon.mat-icon {
    height: 100%;
    width: 1.5rem;
    font-size: 1.5rem;
}

.mdSlideIcon {
    float: left;
}

#aiThrowButton {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

/* right column */

#aiNameTagContainer {
    position: absolute; right: 2%; top: 2%;
}

#aiNameTag.mat-card {
    padding: 10px;
    width: 100%;
    text-align: right;
    text-justify: inter-word;
}

#aiCurlingStones {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

#nextRoundButton {
    position: absolute;
    left: 2%;
    bottom: 2%;    
}