<div class="flex-container" fxLayout="column">
    <div class="flex-item" fxFlex="auto" fxFlexFill>
        <div class="flex-container" fxLayout="row" fxFlexFill>

            <div class="flex-item columnContainer" fxFlex="35%" fxFlexFill>
                <div class="column">
                    <!-- Nametag du joueur -->
                    <div id="playerNameTagContainer">
                        <md-card class="defaultCursor lightTag" id="playerNameTag">
                            <md-card-title><strong>{{playerName}}</strong></md-card-title>
                            <md-card-subtitle>Joueur</md-card-subtitle>
                        </md-card>
                    </div>

                    <!-- Pierres de curling du joueur -->
                    <div id="playerCurlingStones">
                        <div *ngFor="let curlingStone of playerCurlingStones;">
                            <img src="./assets/textures/curlingStone-player-icon.png" height=50vh>
                        </div>
                    </div>
                </div>
                
                <!-- Changement de la caméra -->
                <button md-raised-button class="animatedButton" id="cameraButton" (click)="sendSwitchCameraEvent()" [disabled] = "cameraDisabled">
                    <md-icon class="mdIcon">switch_camera</md-icon><strong> Caméra</strong>
                </button>
            </div>

            <div class="flex-item columnContainer" fxFlex="30%" fxFlexFill>
                <div class="column">
                    <div id="scoreboardContainer">
                        <md-card class="defaultCursor lightTag" id="scoreboard">
                            <!-- Pointage -->
                            <md-card-title><strong>{{playerScore}} - {{aiScore}}</strong></md-card-title>

                            <!-- Manche en cours -->
                            <div *ngFor="let round of roundsCompleted;">
                                <div id="rounds">
                                    <img *ngIf="round === false" [src]="isDarkTheme ? './assets/textures/curling-manche-blanc-icon.png' : './assets/textures/curling-manche-gris-icon.png'" height=30vh>
                                    <img *ngIf="round === true" [src]="isDarkTheme ? './assets/textures/curling-manche-jaune-icon.png' : './assets/textures/curling-manche-bleu-icon.png'" height=30vh>
                                </div>
                            </div>
                            <md-card-subtitle>Manche en cours</md-card-subtitle>
                        </md-card>
                    </div>

                    <!-- Force bar -->
                    <div *ngIf="forceVisible === true">
                        <div id="forceBarLabel">
                            <strong>Force</strong>
                        </div>
                        <md-progress-bar id = "forceBar" color="primary" [value]="forceValue" mode="determinate"></md-progress-bar>
                    </div>

                    <!-- Next throw message -->
                    <div *ngIf="nextThrowMessageVisible === true">
                        <div id="nextThrow">
                            <md-card class="defaultCursor lightTag" id="waitingForPlayer">
                                <md-card-content><strong>Prochain lancer : cliquez ou pesez la barre d'espacement</strong></md-card-content>
                            </md-card>
                        </div>
                    </div>

                    <!-- Next round message -->
                    <div *ngIf="nextRoundMessageVisible === true">
                        <div id="nextRound">
                            <md-card class="defaultCursor lightTag" id="waitingForPlayer">
                                <md-card-content><strong>Prochaine manche : cliquez ou pesez la barre d'espacement</strong></md-card-content>
                            </md-card>
                        </div>
                    </div>

                    <!-- End game message -->
                    <div *ngIf="showEndGameMessage === true">
                        <div id="endGame">
                            <md-card class="defaultCursor lightTag" id="waitingForPlayer">
                                <md-card-content><strong>Fin de la partie. Merci d'avoir joué!</strong></md-card-content>
                            </md-card>
                        </div>
                    </div>

                </div>

                <!-- Confirm spin button -->
                <button md-raised-button class="animatedButton" id="throwButton" (click)="sendThrowStoneEvent()" [disabled] = "sliderDisabled">
                    <strong>Confirmer Spin</strong>
                    <md-icon *ngIf="selectedSpin == true" class="mdIcon">rotate_right</md-icon>
                    <md-icon *ngIf="selectedSpin == false" class="mdIcon">rotate_left</md-icon>
                </button>

                <md-slide-toggle id="spinOrientationSwitch" [(ngModel)]="selectedSpin" [disabled] = "sliderDisabled">
                    <div *ngIf="selectedSpin == true"><strong> Rotation Droite</strong></div>
                    <div *ngIf="selectedSpin == false"><strong> Rotation Gauche</strong></div>
                </md-slide-toggle>
            </div>

            <div class="flex-item columnContainer" fxFlex="35%" fxFlexFill>
                <div class="column">

                    <!-- Nametag du AI -->
                    <div id="aiNameTagContainer">
                        <md-card class="defaultCursor lightTag" id="aiNameTag">
                            <md-card-title>
                                <strong *ngIf="aiDifficulty === 0"></strong>
                                <strong *ngIf="aiDifficulty === 1">Ordi normal</strong>
                                <strong *ngIf="aiDifficulty === 2">Ordi difficile</strong>
                            </md-card-title>
                            <md-card-subtitle>Ordinateur</md-card-subtitle>
                        </md-card>
                    </div>

                    <!-- Pierres de curling de l'AI -->
                    <div id="aiCurlingStones">
                        <div *ngFor="let curlingStone of aiCurlingStones;">
                            <img src="./assets/textures/curlingStone-ai-icon.png" height=50vh>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>