<h2 md-dialog-title>
    Bienvenue sur le jeu de Curling!
</h2>

<md-dialog-content>
    <div id="nameBox" class="full-input">
        <md-input-container class="full-input">
            <input mdInput class="full-input" [disabled]="nameSelectionDisabled" (change)="error = false" maxlength="30" placeholder="Entrez votre nom... (au moins 4 caractères)"
                type="text" [(ngModel)]="playerName">
            <md-hint *ngIf="error" [ngStyle]="{'color': 'red'}" align="start">{{errorMessage}}</md-hint>
            <md-hint *ngIf="nameSelectionDisabled" [ngStyle]="{'color': 'red'}" align="start">Vous devez garder ce nom pour toute la session.</md-hint>
        </md-input-container>
        <button md-fab (click)="validate()"><md-icon id="checkIcon">check</md-icon></button>
    </div>
</md-dialog-content>

<md-dialog-actions id="difficultyChoice">
    <p id="difficultyChoiceText">Choisissez une difficulté pour l'ordinateur :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <md-radio-group (change)="error = false" [(ngModel)]="aiDifficulty">
        <md-radio-button value="Ordi normal">Normal</md-radio-button>
        <div class="separator"></div>
        <md-radio-button value="Ordi difficile">Difficile</md-radio-button>
    </md-radio-group>
</md-dialog-actions>