/**********************/


/* general formatting */


/**********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
md-sidenav-container {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: normal;
    width: calc(100vw);
    height: calc(100vh);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.fill-screen {
    width: calc(100vw);
    height: calc(100vh);
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin-bottom: 10px;
    text-align: center;
}

body {
    font: 13px Helvetica, Arial;
    min-width: 720px;
}

.material-icons {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/**************/


/* start page */


/**************/

#teamName {
    color: rgba(0, 0, 0, 0.6);
}

#userInputDiv {
    background: url(assets/textures/scrabble-bg.jpg);
    background-size: cover;
}

#nameImputCard {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
}

#nameInputError {
    color: red;
}

#capacityInputCard {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
}

#confirmationButton {
    color: white;
    font-weight: bold;
}

md-radio-button {
    padding-right: 10px;
}


/*************************************/


/* blinking effect for invalid input */


/*************************************/

@-webkit-keyframes invalid {
    from {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
        font-size: medium;
    }
    to {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
    }
}

@-moz-keyframes invalid {
    from {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
        font-size: medium;
    }
    to {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
    }
}

@-o-keyframes invalid {
    from {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
        font-size: medium;
    }
    to {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
    }
}

@keyframes invalid {
    from {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
        font-size: medium;
    }
    to {
        color: rgba(255, 0, 0, 0.6);
        font-weight: bold;
    }
}


/* Invalid class for inputField (blinking effect) */

.invalid {
    -webkit-animation: invalid 1s 2;
    /* Safari 4+ */
    -moz-animation: invalid 1s 2;
    /* Fx 5+ */
    -o-animation: invalid 1s 2;
    /* Opera 12+ */
    animation: invalid 1s 2;
    /* IE 10+ */
}


/*********************/


/* top bar component */


/*********************/

#topBar {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 4px 16px black;
}

#navIcon.material-icons.mat-icon {
    margin-left: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#lightBulbIcon.material-icons.mat-icon {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#closeIcon.material-icons.mat-icon {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}


/***************************/


/* control panel component */


/***************************/

#title {
    padding-left: 72px;
    font-size: 28px;
}

#topSpacer {
    flex: 1 1 auto;
}

.icon-button {
    cursor: pointer;
    background: transparent;
    border: none !important;
}

.icon-button:focus {
    outline: none;
}

#infoCard {
    width: 350px;
    text-align: justify;
    text-justify: inter-word;
}

.list-button {
    width: 320px;
    padding-left: 5%;
    padding-right: 5%;
}

#sidenavIcon.material-icons.mat-icon {
    margin-right: 32px;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

#buttonPanel button {
    text-align: start;
}


/****************************/


/* game panel (board, rack) */


/****************************/

#gamePanel {
    background-color: #111111;
    height: 100%;
    width: 100%;
}


/****************************/


/* scrabble board component */


/****************************/

#board {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(10vh);
    margin-bottom: auto;
    display: block;
    max-width: 60%;
    max-height: 60%;
    padding-top: 3.4%;
    background-image: url("/assets/textures/board/Board.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#scrabbleTile {
    max-width: 100%;
    max-height: 100%;
}

#board md-grid-list {
    width: 88.5%;
    position: relative;
    left: 5.882%;
    top: 5.882%;
    max-width: 100%;
    max-height: 100%;
}

#board md-grid-tile {
    max-width: 6.66%;
    max-height: 6.66%;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: 0px solid;
}


/***************************/


/* scrabble rack component */


/***************************/

#rack {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    max-width: 60%;
    padding: 1.3%;
    background-image: url("/assets/textures/rack/Rack.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#rackitem {
    margin: 0.21%;
}

#rackimg {
    border: 0px solid;
    width: 100%;
    height: 100%;
}

#rackfiller {
    visibility: hidden;
}

.selectedLetter {
    opacity: 0.5;
}

.highlight {
    border: 3px solid #00E676;
    border-radius: 10px;
}


/***************************/


/* side panel (chat, info) */


/***************************/

#sidePanel {
    height: 100%;
    width: 100%;
    border: 2px black solid;
}

.strikethrough {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.info-panel-card.mat-card {
    padding: 10px;
}

#timebar {
    margin-bottom: 5%;
}

.md-icon.mat-icon {
    color: black;
    margin-right: 2.5%;
}

.info-header {
    text-align: center;
}

.crown-icon {
    margin-right: 2.5%;
}

/***************/


/* message box */


/***************/

.message-box {
    padding-left: 5%;
    width: 100%;
    height: 100%;
}

.message-box input {
    border: 0;
    width: 100%;
}

md-input-container {
    width: 100%;
}

.message-box button {
    border: none;
}

.ConnectText {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
}


/**********************/


/* message formatting */


/**********************/

#chatCard {
    padding: 10px;
    box-shadow: none;
}

.commandMessage {
    color: #2E7D32;
}


/**********************/


/* waiting room */


/**********************/

#waitingRoomDiv {
    width: 500px;
}

#waitingRoomID {
    padding-bottom: 20px;
}

#waitingMessage {
    text-align: center;
    border: 2px #2E7D32 solid;
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    padding-top: 0px;
}

#waitingPlayerCard {
    padding: 10px;
}

.mdIcon.mat-icon {
    height: 100%;
    width: 2rem;
    font-size: 3rem;
}

#waitingPlayerIcon {
    color: limegreen;
}

#waitingOtherPlayerName {
    color: dimgray;
}

#waitingActualPlayerName {
    color: black;
}

/************/


/* quitGame */


/************/

#cancelQuitButton {
    color: white;
}