* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-bottom: 10px;
}

body { 
  font: 13px Helvetica, Arial; 
}

/***************/
/* message box */
/***************/

.message-box { 
  background: lightgray; 
  padding: 3px; 
  position: fixed; 
  bottom: 50px; 
  width: 30%;
}

.message-box input { 
  border: 0; 
  padding: 10px;
  width: 85%;
  margin-right: .5%; 
}

.message-box button { 
  background: darkblue; 
  color: white;
  border: none; 
  padding: 10px;
}

/**********************/
/* message formatting */
/**********************/

#messagePanel tr { 
  padding: 5px 10px; 
}

#messagePanel {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  width: 500px;
}

/****************************/
/* scrabble board component */
/****************************/

#board {
  float: left;
  margin-left: 30px;
}

#board table {
  margin: 1em auto;
  border-collapse: collapse;
}

#board td {
  width : 40px;
  height: 40px;
  display : inline-block;
  padding : 0px 0px 0px 0px;
  border: 0px solid;
}
