@import '../../node_modules/@angular/material/theming';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-green, A400, A200, A700);
$accent: mat-palette($mat-cyan, A400, A200, A700);
// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);
#sidenavIcon.mat-icon,
.mat-icon.mat-primary {
    color: #0D47A1;
}

#topBar.mat-toolbar.mat-primary,
#topBar.mat-icon,
.mat-icon.mat-primary {
    color: white;
}

#sidenavback.mat-sidenav-container {
    background-color: white;
}

.info-header {
    background-color: #C8E6C9;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
.dark-theme {
    $dark-p: mat-palette($mat-green, 600, 500, 700);
    $dark-a: mat-palette($mat-teal, 600, 500, 700);
    $dark-w: mat-palette($mat-red);
    $dark-t: mat-dark-theme($dark-p, $dark-a, $dark-w);
    @include angular-material-theme($dark-t);
    #topBar.mat-toolbar.mat-primary,
    .mat-icon,
    .mat-icon.mat-primary {
        color: white;
    }
    #sidenavIcon.mat-icon,
    .mat-icon.mat-primary {
        color: white;
    }
    #sidenavback.mat-sidenav-container {
        background-color: #111111;
    }
    .info-header {
        background-color: #43a047;
    }
}